<div class="side-bar-div">
  <button routerLink="/" matButton="text" class="option-button">
    Home
  </button>
  <button routerLink="/policies" matButton="text" class="option-button">
    Policies
  </button>
  <button routerLink="/policy-creation" matButton="text" class="option-button">
    Create New Policy
  </button>
  <button routerLink="/queries" matButton="text" class="option-button">
    Queries
  </button>
  <button routerLink="/query-analyzer" matButton="text" class="option-button">
    Analyze Query
  </button>
  <button routerLink="/alerts" matButton="text" class="option-button">
    Alerts
  </button>
</div>
