<div class="query-analyzer">
  <h1>Analyze Query</h1>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="query-analyzer-form">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Enter Query</mat-label>
    <textarea matInput formControlName="query" rows="5"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Enter User Id</mat-label>
    <input matInput formControlName="userId"/>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Enter User Role</mat-label>
    <input matInput formControlName="userRole"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Comparator Type</mat-label>
    <mat-select formControlName="comparatorType">
      <mat-option value="CUSTOM">CUSTOM</mat-option>
      <mat-option value="STRING">STRING</mat-option>
      <mat-option value="LEVENSHTEIN_DISTANCE">LEVENSHTEIN_DISTANCE</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">
    {{ loading ? 'Submitting...' : 'Submit' }}
  </button>
</form>

@if (queryResponseDTO) {
  <div class="query-analyzer">
    <h2>Analysis Result: </h2>
    <div>
      <p>STATUS: {{queryResponseDTO.status}}</p>
      <p>QUERY: {{queryResponseDTO.query}}</p>
      <p>MESSAGE: {{queryResponseDTO.message}}</p>
      @if (queryResponseDTO.alertSeverityMap && queryResponseDTO.alertSeverityMap.size > 0) {
        <p>ALERTS:</p>
        <mat-chip-listbox>
          @for (entry of queryResponseDTO.alertSeverityMap | keyvalue; track entry.key) {
            <mat-chip class="{{entry.value.toLowerCase()}}-chip" routerLink="/alert-details/{{entry.key}}">{{ entry.key + " : " + entry.value }}</mat-chip>
          }
        </mat-chip-listbox>
      }
    </div>
  </div>
}
