.metric-header {
  width: 70%;
  margin: 1rem 5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 70%;
  margin: 20px;
}
.form-field {
  width: 100%;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
