/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.new {
  font-weight: bold;
}

.inspected {
  font-weight: bold;
  color: green;
}

.approved {
  font-weight: bold;
  color: green;
}

.modified {
  font-weight: bold;
  color: orangered;
}

.suspect {
  font-weight: bold;
  color: orange;
}

.denied {
  font-weight: bold;
  color: red;
}

.info {
  color: green;
  font-weight: bold;
}

.active {
  color: green;
  font-weight: bold;
}

.inactive {
  color: red;
  font-weight: bold;
}

.warning {
  color: orange;
  font-weight: bold;
}

.severe {
  color: red;
  font-weight: bold;
}

.green-icon {
  color: green;
}

.red-icon {
  color: red;
}


.warning-chip {
  @include mat.chips-overrides((
    label-text-color: orange,
    outline-color: orange,
  ));
}

.info-chip {
  @include mat.chips-overrides((
    label-text-color: green,
    outline-color: lightgreen,
  ));
}

.severe-chip {
  @include mat.chips-overrides((
    label-text-color: red,
    outline-color: darkred,
  ));
}
