.alert-detail-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.alert-card {
  width: 80vw;
}

.detail-table {
  width: 100%;
  border-spacing: 0 8px;

  td:first-child {
    font-weight: 500;
    width: 150px;
  }
}

