@if (policy) {
  <div class="policy-detail-container">
    <mat-card class="policy-card">
      <mat-card-header>
        <mat-card-title>Policy Details</mat-card-title>
        <mat-card-subtitle>{{ policy.id }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <table class="detail-table">
          <tr>
            <td><strong>Status</strong></td>
            <td>
            <span [ngClass]="policy.status?.toLowerCase()">
              {{ policy.status }}
            </span>
            </td>
          </tr>
          <tr>
            <td><strong>View Name</strong></td>
            <td>{{ policy.viewName }}</td>
          </tr>
          @if (policy.materializedViewName) {
          <tr>
            <td><strong>Materialized View Name</strong></td>
            <td>{{ policy.materializedViewName }}</td>
          </tr>
          }
          <tr>
            <td><strong>Policy</strong></td>
            <td>{{ policy.policy }}</td>
          </tr>
          <tr>
            <td><strong>Allowed User Role</strong></td>
            <td>{{ policy.allowedUserRole }}</td>
          </tr>
          <tr>
            <td><strong>Created At</strong></td>
            <td>{{ policy.createdAt | date: 'medium' }}</td>
          </tr>
          @if (policy.deactivatedAt) {
            <tr>
              <td><strong>Deactivated At</strong></td>
              <td>{{ policy.deactivatedAt | date: 'medium' }}</td>
            </tr>
          }
          <tr>
            <td><strong>Alert IDs</strong></td>
            <td>
              @if (policy && policy.alertSeverityMap && policy.alertSeverityMap.size > 0) {
                <mat-chip-listbox>
                  @for (entry of policy.alertSeverityMap | keyvalue; track entry.key) {
                    <mat-chip class="{{entry.value.toLowerCase()}}-chip" routerLink="/alert-details/{{entry.key}}">{{ entry.key + " : " + entry.value }}</mat-chip>
                  }
                </mat-chip-listbox>
              } @else {
                <p>None</p>
              }
            </td>
          </tr>
          <tr>
            <td><strong>Metrics</strong></td>
            <td>
              @if (metrics && metrics.length > 0) {
                <mat-chip-listbox>
                  @for (metric of metrics; track metric) {
                    <mat-chip routerLink="/metric-details/{{metric.id}}">{{ metric.name + " : " + metric.value }}</mat-chip>
                  }
                  <mat-chip routerLink="/create-metric-for/{{policy.id}}">+</mat-chip>
                </mat-chip-listbox>
              } @else {
                <p>None</p>
              }
            </td>
          </tr>
        </table>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button color="accent" routerLink="/policies">Back To Policies Overview</button>
      </mat-card-actions>
    </mat-card>
  </div>
}
