.policy-detail-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.policy-card {
  width: 80vw;
}

.detail-table {
  width: 100%;
  border-spacing: 0 8px;

  td:first-child {
    font-weight: 500;
    width: 150px;
  }
}

.metric-chip ::ng-deep .mat-mdc-chip-action-label {
  display: flex;
  align-items: center;
}


