.query-header {
  width: 70%;
  margin: 1rem 5rem;
}

.query-container {
  width: 80%;
  margin: 1rem 5rem;
}

.query-card {
  margin: 1rem;
}

mat-form-field {
  margin: 1rem;
}

.query-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
}
